<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Recipe Book</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="showRecipe('recipe')" href="#">Recipe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="showShopping('shoping')" href="#">Shopping List</a>
    </li>
    <li class="nav-item dropdown" (mouseenter)="openMenu = true"
    (mouseleave)="openMenu = false">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"  appMenustyleDecoretor>
       Manage
      </a>
      {{appMenustyleDecoretor}}
      <div *ngIf="openMenu" class="dropdown-menu show" >
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
</ul>
</nav>