<div class="row">
  <div class="col-12">
      <img [src]="detailsRecipes.imagePath" alt="">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{detailsRecipes.name}}</h1>
    
  </div>
</div>
<div class="row">
<div class="col-12">
  <div class="btn-group">
    <button class="btn btn-primery dropdown-toggle">
      Manage Recipe <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="">ShoppingList</a></li>
      <li><a href="">Edit Recipe</a></li>
      <li><a href="">Delete Recipe</a></li>
    </ul>
  </div>
</div>
</div>
<div class="row">
  <div class="col-12">
    {{detailsRecipes.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>