<div class="row">
  <div class="col-12">
      <img [src]="detailsRecipes.imagePath" alt="">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{detailsRecipes.name}}</h1>
    
  </div>
</div>
<div class="row">
<div class="col-12">
  <div class="btn-group" (mouseenter)="openmenu=true" (mouseleave)="openmenu=false">
    <button class="btn btn-primery dropdown-toggle">
      Manage Recipe <span class="caret"></span>
    </button>
    <ul class="dropdown-menu show" *ngIf="openmenu">
      <li><a (click)="addShoppingList()" style="cursor:pointer;" >ShoppingList</a></li>
      <li><a href="">Edit Recipe</a></li>
      <li><a href="">Delete Recipe</a></li>
    </ul>
  </div>
</div>
</div>
<div class="row">
  <div class="col-12">
    {{detailsRecipes.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group" *ngFor="let ingredient of detailsRecipes.ingrdient">
      <li class="list-group-item">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
     
    </ul>
  </div>
</div>